/* header */
.logo-link {
    width: 20%;
}

.logo-link a img {
    width: 100%;
}

.link-list {
    display: flex;
}

.link-list a {
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
}

/* body */
.main-board {
    width: 90%;
    margin: 30px auto;
}

.title {
    margin: 50px auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.messages {
    color: #f00;
}

.user-list {
    width: 100%;
    font-size: 16px;
}

.user-list th {
    text-align: left;
    padding: 5px 10px;
}

.user-list td {
    padding: 5px;
    border-top: 1px solid #000;
}

.user-list a {
    text-decoration: none;
    background-color: #09f;
    color: #fff;
    padding: 3px 5px;
    border-radius: 5px;
}

.send {
    background-color: #ffc0cb;
    border: 1px solid #ffc0cb;
    border-radius: 5px;
    padding: 3px 5px;
}

.delete {
    background-color: #f00;
    color: #fff;
    border: 1px solid #f00;
    border-radius: 5px;
    padding: 3px 5px;
    cursor: pointer;
}